---
Checks: |
  bugprone-sizeof-expression,
  bugprone-suspicious-semicolon,
  bugprone-unused-raii,
  readability-else-after-return,
  readability-simplify-boolean-expr

  #readability-braces-around-statements,
  #clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
